body {
    background: url("images/bg_image.jpg") no-repeat;
}

h2 {
    color: darkred;
}
li a {
    color: darkblue;
    text-decoration: none;
}
h1 {
    font-size: 30px;
    color: white;
}
form {
    background-color: darkcyan;
}
input[type=radio] {
    width: 20px;
    height: 20px;
}
input[type=radio]:hover {
    cursor: pointer;
}
label {
    color: darkblue;
    font-size: 20px;
}
input[type=submit] {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;    
}
input[type=submit]:hover {
    background-color: blue;
    cursor: pointer;
}